mat-paginator {
  direction: ltr;

  .mat-mdc-paginator-page-size-label {
    display: none !important;
  }

  #mat-paginator-page-size-label-0 {
    display: none;
  }

  div#mat-paginator-page-size-label-0 {
    display: none;
  }
}

#filterPrices {
  padding-right: 2px;
  padding-top: 30px;
  mat-slider {
    width: 180px;
    direction: ltr;
  }
}
